@import "tailwindcss";

@theme {
  --color-sajka-burgundy: #3a0c1a;
  --color-sajka-gold: #d1a86b;
  --color-sajka-light: #fdfcfb;
  --color-sajka-dark: #1e060d;
}

:root {
  background-color: var(--color-sajka-light);
  color: var(--color-sajka-dark);
}

body {
  font-family: var(--font-sajka-sans);
}

h1, h2, h3, h4, .sajka-brand {
  font-family: var(--font-sajka-serif);
}
